SERVICE_NAME=gateway-service
DEBUG=false
ALLOWED_ORIGINS=http://localhost:3000
AUTH_SERVICE_URL=http://auth-service:8000
PRODUCT_SERVICE_URL=http://product-service:8000
ORDER_SERVICE_URL=http://order-service:8000
